/* CarSection.css */
.car-section {
  margin-top: 60px;
  padding: 20px;
  overflow-x: auto;
}

.car-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-width: max-content;
}

.car-item {
  flex: 0 0 calc(20% - 16px);
  max-width: 200px;
}

@media (max-width: 1024px) {
  .car-container {
    justify-content: flex-start;
  }
}
@media (max-width: 768px){
  .car-section {
    margin-top: 60px;
    padding: 20px;
    overflow-x: auto;
  }
}